.table{
    background-color: #11487C;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;    
    gap: 10px;
}

.table-column{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.table-column:hover{
    cursor: pointer;
    background-color: #0d396650;
}

.game{
    display: flex;
    gap: 100px;
    align-items: center;
    margin-top: 40px;
}

.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hole{
    position: relative;
    margin: 5px;
    width: 80px;
    height: 80px;
    background-color: #18274B;
    border-radius: 50%;
}

.piece{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

/*************** Animacion caida de la ficha ***************/
@keyframes drop {
    0% {
        transform: translateY(-600px);
        opacity: 0.7;
    }
    80% {
        transform: translateY(10px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.piece.drop-animation {
    animation: drop 0.5s cubic-bezier(.68,-0.55,.27, 1.2);
}
/***********************************************************/

.selected-red{
    background-color: #F65656;
}

.selected-yellow{
    background-color: #FFCC00;
}

.player{
    color: #A7DDFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 32px;
    font-weight: 800;
    padding: 20px;
    gap: 60px;
}

.player-cirle-red{
    width: 100px;
    height: 100px;
    background-color: #F65656;
    border-radius: 50%;
}

.player-cirle-yellow{
    width: 100px;
    height: 100px;
    background-color: #FFCC00;
    border-radius: 50%;
}

.player-name{
    padding: 10px 20px;
    border-radius: 30px;
}

.turn-yellow{
    color: #FFCC00;
}

.turn-red{
    color: #F65656;
}

.selected{
    color: #18274B;
    background-color: #A7DDFF;
}